body{
	margin: 0;
	padding: 0;
	background: url(../img/monish.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: sans-serif;
}
.container{
	width: 60%;
	margin: 10% auto;

}


.login-section{
	    background: #008b8b85;
    padding: 25px;

}

.login-section img{
	    width: 150px;
    margin: 0 auto;
    display: block;

}

.login-section h2{
	text-align: center;
    color: #e1e688;
    font-size: 32px;
    text-transform: uppercase;
    margin: 10px 0px;

}

.form-control{
	width: 95%;
    height: 35px;
    margin: 10px;
    padding: 5px;

}

.btn{
	background: #00188b;
    color: white;
    padding: 5px 20px;
    margin: 0 auto;
    display: block;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;

}

.btn : hover {
	cursor: pointer;
	box-shadow: 1px 3px 4px
} 